{{#enums}}
export type {{typeName}} =
{{#enums}}
  {{#if @index}}| {{/if}}'{{{this}}}'
{{/enums}}

export const {{valueName}}: {{typeName}}[] = [
{{#enums}}
  '{{{this}}}'{{#unless @last}},{{/unless}}
{{/enums}}
]

{{/enums}}
{{#models}}
export interface {{modelname}} {
  {{#properties}}
  {{propname}}{{#unless required}}?{{/unless}}: {{type}}
  {{/properties}}
}

{{/models}}